[build]
  command = "npm run build"
  publish = ".netlify_publish"
  [build.environment]
    NODE_VERSION = "22"

[functions]
  included_files = ["migrations/*.sql"]

 [context.deploy-preview]
  command = "npm run build"
  publish = ".netlify_publish"

[context.branch-deploy]
  command = "npm run build"
  publish = ".netlify_publish"

[[plugins]]
  package = "netlify-plugin-a11y"
  [plugins.inputs]
    checkPaths = []
    resultMode = "warn"

[[plugins]]
  package = "@netlify/plugin-lighthouse"
  [plugins.inputs]
    audits = [{ path = "/index.html" }]

[[redirects]]
  from = "/admin"
  to = "/admin.html"
  status = 200

[[redirects]]
  from = "/reset"
  to = "/reset.html"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[[headers]]
  for = "/reset"
  [headers.values]
    Cache-Control = "no-cache, no-store, must-revalidate"

[[headers]]
  for = "/reset.html"
  [headers.values]
    Cache-Control = "no-cache, no-store, must-revalidate"

[[headers]]
  for = "/api/*"
  [headers.values]
    Cache-Control = "no-cache, no-store, must-revalidate"
