[build]
  command = "npm run build"
  publish = "."
  [build.environment]
    NODE_VERSION = "22"

 [context.deploy-preview]
  command = "npm run build"
  publish = "."

[context.branch-deploy]
  command = "npm run build"
  publish = "."

[[plugins]]
  package = "netlify-plugin-a11y"
  [plugins.inputs]
    checkPaths = []
    resultMode = "warn"

[[redirects]]
  from = "/debug/*"
  to = "/debug/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[[headers]]
  for = "/*"
  [headers.values]
    Cache-Control = "public, max-age=0, must-revalidate"

[[headers]]
  for = "/index.html"
  [headers.values]
    Cache-Control = "no-cache, no-store, must-revalidate"

[[headers]]
  for = "/service-worker.js"
  [headers.values]
    Cache-Control = "no-cache, no-store, must-revalidate"

[[headers]]
  for = "/manifest.webmanifest"
  [headers.values]
    Cache-Control = "no-cache, no-store, must-revalidate"

[[headers]]
  for = "/assets/*"
  [headers.values]
    Cache-Control = "public, max-age=31536000, immutable"
