[build]
  command = "npm run build"
  publish = "."

[[plugins]]
  package = "netlify-plugin-a11y"
  [plugins.inputs]
    checkPaths = []
    resultMode = "warn"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
