[build]
  command = "npm run build"
  publish = "."

[[plugins]]
  package = "netlify-plugin-a11y"
  [plugins.inputs]
    checkPaths = []
    resultMode = "warn"

[[redirects]]
  from = "/debug/*"
  to = "/debug/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[[headers]]
  for = "/*"
  [headers.values]
    Cache-Control = "public, max-age=600"
