[build]
  command = "npm run build"
  publish = "app"

[[plugins]]
  package = "netlify-plugin-a11y"
    [plugins.inputs]
      timeout = 60000

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
