.numpad-container {
  padding: 0.35rem;
}

.numpad-key,
.numpad-commit,
.numpad-operator {
  min-width: 20vw;
  min-height: 54px;
  font-size: 1.3rem;
  padding: 0.75rem;
  border-radius:0.5rem;
  margin:0.15rem;
}

.numpad-key:active,
.numpad-operator:active,
.numpad-commit:active {
  transform: scale(0.94);
  filter: brightness(0.9);
}

.numpad-row {
  display:flex;
  justify-content:space-between;
  align-items:stretch;
}
